.read {
  display: flex;
  flex-direction: row;
}

.navigator {
  flex: 2;
}
.text {
  flex: 5;
  margin-left: 6px;
  margin-right: 6px;
  overflow-y: auto;
  align-self: flex-start;
}
.foo {
  flex: 2;
}
