body {
  margin: 0px;
  font-size: 24px;
  font-family: var(--font-family);
  color: var(--color-text);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: var(--gradient-bg);
}

.navbar {
}
.main {
  margin: 2vh;
}
