@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --font-family: "Manrope", sans-serif;
  --gradient-box: linear-gradient(90deg, #ff7300 0%, #161616 1%);
  --gradient-boxrev: linear-gradient(90deg, #ff7300 0%, #161616 2%);
  --gradient-bg: linear-gradient(90deg, #040c18 16%, #040c18 100%);
  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-title: #ff9843;
  --color-text: #ffffff;
}
/* For Webkit browsers (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #404040;
}

::-webkit-scrollbar-thumb {
  background: #606060;
}

::-webkit-scrollbar-thumb:hover {
  background: #808080;
}
